body{
    background-color: #000;
}

*{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 21px;
}
.navigation{
    display: flex;
    width: 40%;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    width: 100%;
}
.nav-a,
a{
    color: rgba(206, 206, 206, 0.918);
}

.burger {
    font-size: 30px;
    color: #fff;
  }
.burger-icon {
    position: absolute;
    top: 30px;
    color: #fff;
    right: 40px;
    display: none;
    cursor: pointer;
}

